{% extends "base.html" %}
{% block title %}Proyecto Final de Carrera{% endblock %}
{% block pagetitle %}Analisis de datos privados en archivos{% endblock %}
{% block content %}
  <div class="row">
      <div class="col-md-12">
  <form class="form" role="form" method="post">
		<p>
			<h2> Archivo: <strong> {{ nombrearchivo}} </strong> </h2>
		</p>
  </div>
    	

	<div class="form-group">
          <a href="/" class="btn btn-primary btn-lg">Volver</a>
		
	</div>   
</form>

<body class="body">
	  <div class="container" align="left">
			<embed type="image/svg+xml" src={{graph_data|safe}}>
	  </div>
	  <!-- Don't forget the "|safe"! -->
	
		
	
</body>

<embed type="image/svg+xml" src= {{ graph_table|safe }} >

	<table border = 4 >
				<th> TIPO </th>
				<th> IMPACTO </th>
				<th> OCURRENCIAS </th>
				<th> RIESGO </th>
         {% for tipo,hash,impacto,cantidad,riesgo in resul %}
            <tr>
			   <td> {{ tipo }} </td>
               <td> {{ impacto }} </td>
               <td> {{ cantidad }} </td>
               <th> {{ riesgo }} </th>
            </tr>
         {% endfor %}
	</table>

	<table border = 1 >
				<th> TIPO </th>
				<th> DETALLE </th>
         {% for tipo,dato in resultadodetalle %}
            <tr>
			   <td> {{ tipo }} </td>
               <td> {{ dato }} </td>
            </tr>
         {% endfor %}
	</table>

	<table border = 1 >
				<th> TIPO </th>
				<th> PORCENTAJE </th>
         {% for tipo,porcentaje in top_porcentajes %}
            <tr>
			   <td> {{ tipo }} </td>
			   <td> {{ porcentaje }} </td>
            </tr>
         {% endfor %}
	</table>
	
	
{% endblock %}
