{% extends "base.html" %}
{% block title %}Trabajo Final de Maestria{% endblock %}
{% block pagetitle %}Analisis de datos privados en archivos{% endblock %}
{% block content %}

<style type="text/css">
.tftable {color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.tftable tr {background-color:#d4e3e5;}
.tftable td {border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.tftable tr:hover {background-color:#ffffff;}
.tftable caption {caption-side:top;font-size:42px;font-weight: bold; text-align: center;}
</style>

  <div class="row">
      <div class="col-md-12">
		<form class="form" role="form" method="post">
		<p>
			<h2> Archivo: <strong> {{ nombrearchivo}} </strong> </h2>
		</p>
		</div>
		<div class="form-group">
			<a href="/" class="btn btn-primary btn-lg">Volver</a>
		
			</div>   
		</form>
	</div>

<table class="tftable" border="1">
	<caption>Riesgo Total de Archivo </caption>
				<th> NOMBRE DE ARCHIVO </th>
				<th> RIESGO TOTAL </th>
        <tr>
			   <td> {{ nombrearchivo }} </td>
			   <td> {{ riesgoarchivo }}  </td>
        </tr>
         
</table>	
	
<table class="tftable" border="1">
	<caption>Categorias del texto</caption>
				<th> TIPO </th>
				<th> PORCENTAJE </th>
         {% for tipo,porcentaje in top_porcentajes %}
            <tr>
			   <td> {{ tipo }} </td>
			   <td> {{ porcentaje }} % </td>
            </tr>
         {% endfor %}
	</table>
	
<div class="container" align="left">
			<embed type="image/svg+xml" src = "/static/chart.svg?dummy=21097" />
</div>

<table class="tftable" border=1>
		<caption>Tabla de riesgos</caption>
				<th> TIPO </th>
				<th> IMPACTO </th>
				<th> OCURRENCIAS </th>
				<th> RIESGO </th>
         {% for tipo,hash,impacto,cantidad,riesgo in resul %}
            <tr>
			   <td> {{ tipo }} </td>
               <td> {{ impacto }} </td>
               <td> {{ cantidad }} </td>
               <td> {{ riesgo }} </td>
            </tr>
         {% endfor %}
</table>
	
<table class="tftable" border="1">
	<caption>Detalle de hallazgos</caption>
				<th> TIPO </th>
				<th> DETALLE </th>
         {% for tipo,dato in resultadodetalle %}
            <tr>
			   <td> {{ tipo }} </td>
               <td> {{ dato }} </td>
            </tr>
         {% endfor %}
	</table>



{% endblock %}
