{% extends "base.html" %}
{% block title %}Prueba de TOTP para Maestria en Cyberseguridad{% endblock %}
{% block pagetitle %}Valida tu código de servicio{% endblock %}
{% block content %}
    <form action = "http://localhost:5000/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Physics <input type = "text" name = "Physics" /></p>
         <p>Chemistry <input type = "text" name = "chemistry" /></p>
         <p>Maths <input type ="text" name = "Mathematics" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>
  {% endblock %}

